@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
.container {
  width: 540px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.top-bar {
  margin-top: 2rem;
  display: flex;
  justify-content: space-evenly;
}

.form-wrap {
  margin-top: 2rem;
  width: 100%;
}
.mdl-card__title {
  background: rgb(0, 61, 153);
  color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
}
.form-blocks {
  padding: 3rem;
}

.block {
  display: flex;
  justify-content: space-between;
}
.name .mdl-textfield {
  width: 48%;
}
.email .mdl-textfield {
  width: 100%;
}

.product .mdl-textfield {
  width: 100%;
}

.contact .mdl-textfield {
  width: 540px;
}
.contact {
  flex-direction: column;
}
.reason.block {
  align-items: center;
}
.reason select {
  appearance: none;
  outline: 0;
  border: 0;
  border-bottom: 1px solid #ddd;
  box-shadow: none;
  width: 70%;
  flex: 1;
  padding: 0 1em;
  font-size: 1.2rem;
  cursor: pointer;
}
.select-wrap {
  position: relative;
  display: flex;
  width: 20em;
  height: 3em;
  border-radius: 0.25em;
  overflow: hidden;
}
.action {
  justify-content: center;
  align-items: center;
  margin: 3rem;
}
.mdl-button.mdl-button--colored{
  background-color: #003d99;
}
.mdl-button.mdl-button--colored:hover{
  background-color: #033279;
}
.mdl-button.mdl-button--primary{
  color:#003d99;
}
